@model IEnumerable<SysPatrimonio.Models.DbUsuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>
<p>
    @using (Html.BeginForm())
    {
        <text>Nome</text>@Html.DropDownList("nome", new SelectList(ViewBag.Nome))
        <text>Login</text>@Html.DropDownList("login", new SelectList(ViewBag.Login))
        <input type="submit" value="Procurar"/>
    }
</p>


<p>
    <a asp-action="Create">Adicionar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id"><img src="img/edit.png" right="22" width ="22"/></a> |
                <a asp-action="Details" asp-route-id="@item.id"><img src="img/info.png" right="22" width ="22"/></a> |
                <a asp-action="Delete" asp-route-id="@item.id"><img src="img/del.png" right="22" width ="22"/></a>
            </td>
        </tr>
}
    </tbody>
</table>
